{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h1>Home</h1>

  <p>Welcome to Tic Tac Toe,  
        Tic Tac Toe is a classic two-player strategy game played on a 3x3 grid.
		Players take turns marking empty squares with their symbol (X or O).
		The goal is to get three of your symbols in a row - horizontally, vertically, or diagonally.
		The first player to create a line of three wins the game.
		If all squares are filled without a winner, the game is a draw.
		Strategy is key: block your opponent's potential lines while trying to create your own winning combination.</p>

{% endblock %}
