{% extends "layout.html" %}

{% set active_page = "Page2" %}

{% block title %}page2{% endblock %}

{% block content %}

  <h1>This is the stats Page</h1>

  <p>When login you can see your stats: wins, losses, ties.</p>
  {% set logged_in = True %}
  {% set win = 5 %}
  {% set loss = 2 %}
  {% set tie = 8 %}
  {% if logged_in %}
<table>
  <tr>
    <th>Wins</th>
    <th>Losses</th>
    <th>Ties</th>
  </tr>
  <tr>
    <td>{{win}}</td>
    <td>{{loss}}</td>
    <td>{{tie}}</td>
</table>
  {% else %}
  <p>login to see your stats</p>
  {% endif %}

{% endblock %}